
<html>

<div class="modal fade" id="delcfmModel">
<div class="modal-dialog">
<div class="modal-content message_align">
<div class="modal-header">
<h4 class="modal-title">提示信息</h4>
</div>
<div class="modal-body">
<p>您确认要删除吗？</p>
</div>
<div class="modal-footer">
<input type="hidden" id="url"/>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
<a  onclick="remove()" class="btn btn-success" data-dismiss="modal">确定</a>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="Modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<form >
<div class="modal-header">
<h4 class="modal-title" id="ModalLabel">添加</h4>
</div>
<div class="modal-body">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
<div class="input-group">
<span class="input-group-addon">用户名</span>
<input type="text" id="username_add" name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>
<div class="input-group">
<span class="input-group-addon">密码</span>
<input type="text" id="mm_add" name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>
<div class="input-group">
<span class="input-group-addon">确认密码</span>
<input type="text"  name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>

<span class="input-group-addon">权限</span>
<select class="selectpicker" id="permission_add" value="1" placeholder="1级" style="margin-left: 20px">
<option value="1">1级</option>
<option value="2">2级</option>
</select>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<button type="button" class="btn btn-primary" onclick="Add()">确认</button>
</div>
</form>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<form action="/Celler/register" method="post" class="bs-example bs-example-form" >
<div class="modal-header">
<h4 class="modal-title" id="myModalLabel">修改</h4>
</div>
<div class="modal-body">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
<div class="input-group">
<span class="input-group-addon">用户名</span>
<input type="text" id="username_edit" name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>
<div class="input-group">
<span class="input-group-addon">密码</span>
<input type="text" id="mm_edit" name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>
<div class="input-group">
<span class="input-group-addon">确认密码</span>
<input type="text" id="outtime" name="cardnumber" class="form-control"  max="8" pattern="[0-9]{8}" title="请输入正确8位卡号" >
</div>

<span class="input-group-addon">权限</span>
<select class="selectpicker" id="permission_edit" value="1" placeholder="1级" style="margin-left: 20px">
<option value="1">1级</option>
<option value="2">2级</option>
</select>


</div>
</div>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<button type="button" class="btn btn-primary" onclick="EditUser()">确认</button>
</div>
</form>



</div>
</div>
</div>

</html>